<div class="input-group" id={{id}} style="margin:7px">
  <span class="form-control">
    {{{name}}}
    <input type="hidden" id="type" name="type" value="{{type}}">
    <textarea id="selection" name="selection" tabindex="{{index2}}" rows="1" cols="20" style="float:right; resize:none; overflow: hidden; margin-left:6px">{{selection}}</textarea>
    <textarea id="mask" name="mask" tabindex="{{index1}}" rows="1" cols="20" style="float:right; resize:none; overflow: hidden;">{{mask}}</textarea>
  </span>
  <span class="input-group-btn">
    <button tabindex="{{index3}}" rows="1" class="btn btn-danger delete-filter" type="button">
      <i class="fa fa-minus-circle"></i>
    </button>
  </span>
</div>
