  <span class="form-control">
    {{{name}}}
    <input type="hidden" id="type" name="type" value="{{type}}">
    <div style="float:right;margin-left:6px;">
    <textarea id="value" name="value" rows="1" cols="20" style="resize:none; overflow: hidden;{{#unless valueIsValid}};background-color:rgb(255, 215, 215){{/unless}}">{{value}}</textarea>
    </div>
  </span>
  <span class="input-group-btn">
    <button rows="1" class="btn{{#if this.removable}} btn-danger{{else}} btn-default disabled{{/if}} delete-filter" type="button">
      <i class="fa {{#if this.removable}}fa-minus-circle{{else}}fa-circle-thin{{/if}}"></i>
    </button>
  </span>
